<mat-toolbar [color]="color" class=" nav">
  <mat-toolbar-row>
    <span>Ang Material App</span>
    <span class="example-spacer"></span>

    <button mat-button>Home</button>
    <button mat-button>Portfolio</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
  <!-- This fills the remaining space of the current row -->
</mat-toolbar>

<mat-card>
  <mat-form-field [color]="color" class="example-full-width">
    <input matInput [(ngModel)]="answer" placeholder="Which Javascript Framework is best ?" />
  </mat-form-field>
  <br>

  <br>
  <button mat-raised-button (click)="showAnswer()">Answer Me </button>
  <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue" [style.display]="showProgress ? 'block': 'none' "></mat-progress-bar>
</mat-card>


<mat-card *ngIf="answerDisplay">
  <h1>{{answerDisplay}}, you're right.</h1>
</mat-card>
